/* 태그 직접 선택 */
h1{
    color: darksalmon;
    text-align: center;
 }

 /* class 선택 */
 .login_inputs {
    font-size: 25px;
 }

 /* id 선택 */
 #btn_login {
    font-size: 25px; 
    width: 100px; 
    height: 50px;
 }

 #btn_comVal {
   font-size: 25px; 
   width: 200px; 
   height: 50px;
}